body {
  background-color: #f8f9fa;
}

header,
footer {
  background-color: #343a40;
  color: white;
}

.content {
  margin: 0 auto;
  max-width: 1200px;
}

.navbar {
  margin-bottom: 20px;
}

.card img {
  display: block;
  margin: 0 auto;
  height: 120px;
  object-fit: cover;
}

.card-body {
  text-align: center;
}

.portfolio-section {
  padding: 50px 0;
}

.card {
  width: calc(100% / 3);
}
